@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"); /*variables scss*/
/*Colors*/
/*Font*/
/*Font weight*/
/*Margins*/
/*z index*/
/*Responsive*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: hsl(180, 4%, 98%);
}

.scroll-header {
  background-color: hsl(180, 4%, 98%);
  border-bottom: 1px solid hsl(37, 48%, 64%);
}

.nav {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.nav__logo, .nav__toggle {
  color: hsl(37, 48%, 64%);
  font-weight: 600;
  font-size: 1.25rem;
}
.nav__logo-img {
  width: 130px;
  height: 100px;
}
@media screen and (max-width: 1024px) {
  .nav__logo-img {
    width: 100px;
    height: 35px;
  }
}
.nav__list {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.nav__item {
  color: hsl(37, 48%, 64%);
}
.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  color: hsl(37, 48%, 64%);
  transition: 0.3s;
}
.nav__close, .nav__toggle {
  display: none;
}

/*Active link*/
.active-link,
.nav__link:hover {
  color: hsl(28, 11%, 23%);
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.55rem;
  width: 100%;
  height: 0.3rem;
  background-color: hsl(37, 48%, 64%);
}

@media screen and (max-width: 1000px) {
  .nav {
    height: 5rem;
  }
  .nav__menu {
    position: fixed;
    background-color: hsl(37, 48%, 64%);
    width: 50%;
    height: 100%;
    top: 0;
    right: -100%;
    padding: 4rem 0 0 3rem;
    z-index: 100;
    transition: 0.4s;
  }
  .nav__list {
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: flex-start;
  }
  .nav__link {
    color: hsl(28, 11%, 23%);
  }
  .nav__close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
    color: hsl(28, 11%, 23%);
    display: block;
  }
  .nav__toggle {
    display: block;
    color: hsl(37, 48%, 64%);
  }
  .nav__logo-img {
    width: 80px;
    height: 60px;
  }
  /*show menu*/
  .show-menu {
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    height: 5rem;
  }
  .nav__menu {
    position: fixed;
    background-color: hsl(37, 48%, 64%);
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    padding: 4rem 0 0 3rem;
    z-index: 100;
    transition: 0.4s;
  }
  .nav__list {
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: flex-start;
  }
  .nav__link {
    color: hsl(28, 11%, 23%);
  }
  .nav__close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
    color: hsl(180, 4%, 98%);
    display: block;
  }
  .nav__toggle {
    display: block;
    color: hsl(37, 48%, 64%);
  }
  .nav__logo-img {
    width: 80px;
    height: 60px;
  }
  /*show menu*/
  .show-menu {
    right: 0;
  }
}
.home {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/src/image/Hero/heroBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media screen and (max-width: 768px) {
  .home {
    background-size: cover;
  }
}
.home__content {
  padding-top: 12.5rem;
}
@media screen and (max-width: 768px) {
  .home__content {
    padding-top: 10rem;
    text-align: center;
    justify-content: center;
  }
}
.home__title {
  font-size: 4rem;
  margin: 2rem 0;
  color: hsl(180, 4%, 98%);
}
@media screen and (max-width: 768px) {
  .home__title {
    font-size: 2.5rem;
  }
}
.home__title span {
  color: hsl(37, 48%, 64%);
}
.home__subtitle {
  position: relative;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: hsl(180, 4%, 98%);
}
.home__social {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .home__social {
    margin: 1.5rem auto;
    justify-content: center;
  }
}

.text-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 3rem;
  width: 100%;
}
@media (max-width: 992px) {
  .text-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5.5rem;
  }
}
.text-container__left {
  text-align: left;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  color: hsl(48, 3%, 72%);
}
@media (max-width: 992px) {
  .text-container__left {
    align-items: center;
    text-align: center;
  }
}
.text-container__left h4 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
}
.text-container__left h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .text-container__left h2 {
    font-size: 2.5rem;
  }
}
.text-container__left p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  text-align: justify;
}
.text-container__right {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-width: 35rem;
}
.text-container__right__box {
  display: flex;
}
@media (max-width: 768px) {
  .text-container__right__box {
    flex-direction: column;
    align-items: center;
  }
}
.text-container__right__box__icon {
  font-size: 3rem;
  border: 1px solid hsl(0, 0%, 36%);
  border-radius: 50%;
  text-align: center;
  color: hsl(37, 48%, 64%);
  padding: 10px;
  margin: auto 1rem;
  width: 115px;
}
@media (max-width: 768px) {
  .text-container__right__box__icon {
    width: 150px;
    padding: 5px;
    font-size: 3rem;
    margin: 1rem auto;
  }
}
.text-container__right__box__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  width: 25rem;
}
@media (max-width: 768px) {
  .text-container__right__box__text {
    width: 18rem;
  }
}
.text-container__right__box__text h4 {
  font-size: 1.5rem;
  color: hsl(180, 4%, 98%);
}
.text-container__right__box__text p {
  font-size: 1rem;
  color: hsl(48, 3%, 72%);
  line-height: 1.3;
}

.apartman__container {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 3rem;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .apartman__container {
    gap: 1.25rem;
  }
}
@media screen and (max-width: 768px) {
  .apartman__container {
    grid-template-columns: max-content;
  }
}
@media screen and (max-width: 576px) {
  .apartman__container {
    grid-template-columns: 1fr;
  }
}
.apartman__card {
  background-color: hsl(0, 0%, 36%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 1rem;
}
@media screen and (max-width: 992px) {
  .apartman__card {
    padding: 1rem;
  }
}
.apartman__img {
  width: 340px;
  height: 200px;
  border-radius: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 992px) {
  .apartman__img {
    margin-bottom: 0.75rem;
  }
}
@media screen and (max-width: 576px) {
  .apartman__img {
    width: 100%;
  }
}
.apartman__title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: hsl(37, 48%, 64%);
  text-align: center;
}
@media screen and (max-width: 992px) {
  .apartman__title {
    margin-bottom: 0.25rem;
  }
}
.apartman__subtitle {
  text-align: center;
  color: hsl(48, 3%, 72%);
}
.apartman__subtitle-icon {
  color: hsl(37, 48%, 64%);
}
.apartman__description {
  width: 25rem;
}

.apartman {
  margin-top: 5rem;
}
.apartman-single__content {
  display: flex;
  justify-content: space-around;
  gap: 3rem !important;
}
@media screen and (max-width: 992px) {
  .apartman-single__content {
    gap: 1.25rem;
  }
}
@media screen and (max-width: 768px) {
  .apartman-single__content {
    flex-direction: column;
  }
}
.apartman-single__title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: hsl(37, 48%, 64%);
}
@media screen and (max-width: 768px) {
  .apartman-single__title {
    text-align: center;
  }
}
.apartman-single__description {
  max-width: 45rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .apartman-single__description {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .apartman-single__left {
    margin: 0 auto;
  }
}
.apartman-single__img {
  margin-bottom: 2rem;
  max-width: 500px;
}
@media screen and (max-width: 768px) {
  .apartman-single__img {
    margin: 1rem auto;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .apartman-single__right {
    margin: 1rem auto;
  }
}
.apartman-single__content_image {
  margin-top: 6rem;
}

.table {
  text-align: left;
  overflow: hidden;
  width: 80%;
  display: table;
  padding: 0 0 8em 0;
  border: none;
  border-collapse: collapse;
}
@media screen and (max-width: 768px) {
  .table {
    margin: 1rem auto;
  }
}

.table td {
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

.table tr:nth-child(odd) {
  background-color: hsl(0, 0%, 36%);
}

.faq {
  background-image: url("/src/image/Faq/faq-bg.jpg");
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.section__subtitle {
  color: hsl(28, 11%, 23%);
  font-size: 1.5rem !important;
  font-weight: 600;
}
.section__description {
  text-align: center;
  color: hsl(28, 11%, 23%);
}

.all-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.faq-box {
  display: flex;
  flex-direction: column;
  color: hsl(180, 4%, 98%);
  background-color: hsl(0, 0%, 36%);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  width: 70rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .faq-box {
    width: 100%;
  }
}
.faq-box__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 1.8rem 4.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: hsl(37, 48%, 64%);
  cursor: pointer;
}
@media (max-width: 768px) {
  .faq-box__question {
    padding: 0.5rem;
    font-size: 1.25rem;
    gap: 0.5rem;
  }
}
.faq-box__question-icon {
  width: 2rem;
}
@media (max-width: 768px) {
  .faq-box__question-icon {
    font-size: 2.5rem;
  }
}
.faq-box__answer {
  font-size: 1rem;
  color: hsl(180, 4%, 98%);
  line-height: 1.7;
  max-height: 0;
  overflow: hidden;
  padding: 0 4.5rem;
}
.faq-box__answer-show {
  max-height: 20rem;
  padding: 2.8rem 4.5rem;
  color: hsl(180, 4%, 98%);
}
@media (max-width: 768px) {
  .faq-box__answer-show {
    max-height: 30rem;
    padding: 0.5rem;
  }
}
@media (max-width: 420px) {
  .faq-box__answer-show {
    max-height: 20rem;
  }
}

.section__description {
  text-align: center;
  margin-bottom: 2rem;
}
.section__subtitle {
  color: hsl(37, 48%, 64%);
}

.testominial__container {
  width: 900px;
}
@media screen and (max-width: 992px) {
  .testominial__container {
    width: initial;
  }
}
.testominial__card {
  background-color: hsl(0, 0%, 36%);
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 992px) {
  .testominial__card {
    padding: 1.25rem 1.5rem;
  }
}
.testominial__img {
  width: 60px;
  border-radius: 3rem;
  margin-bottom: 1rem;
}
.testominial__name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
  color: hsl(180, 4%, 98%);
}
.testominial__description {
  font-size: 1rem;
  color: hsl(180, 4%, 98%);
}
.testominial__description-quote {
  font-size: 2rem;
}

/*Swiper*/
.swiper-pagination-bullet {
  background-color: hsl(37, 48%, 64%) !important;
}

.swiper-pagination-active {
  background-color: hsl(37, 48%, 64%) !important;
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  filter: drop-shadow(0px 0px 5px #555);
  width: 2rem;
  height: 2rem;
  color: white;
}
.arrow-left {
  left: 1rem;
}
.arrow-right {
  right: 1rem;
}

.arrow:hover {
  cursor: pointer;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: hsl(37, 48%, 64%);
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  margin: 0 0.2rem;
  cursor: pointer;
}
.indicator-inactive {
  background-color: hsl(28, 11%, 23%);
}

.bazen-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 3rem;
  align-items: center;
}
@media (max-width: 992px) {
  .bazen-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5.5rem;
  }
}
.bazen-container__right {
  text-align: left;
  display: flex;
  flex-direction: column;
  color: hsl(48, 3%, 72%);
}
@media (max-width: 992px) {
  .bazen-container__right {
    align-items: center;
    text-align: center;
  }
}
.bazen-container__right h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  color: hsl(37, 48%, 64%);
}
@media (max-width: 768px) {
  .bazen-container__right h2 {
    font-size: 2.5rem;
  }
}
.bazen-container__right p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  text-align: justify;
}
.bazen-container__right img {
  width: 700px;
}
.bazen-container__left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  filter: drop-shadow(0px 0px 5px #555);
  width: 2rem;
  height: 2rem;
  color: white;
}
.arrow-left {
  left: 1rem;
}
.arrow-right {
  right: 1rem;
}

.arrow:hover {
  cursor: pointer;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: hsl(37, 48%, 64%);
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  margin: 0 0.2rem;
  cursor: pointer;
}
.indicator-inactive {
  background-color: hsl(28, 11%, 23%);
}

.sauna-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 3rem;
  align-items: center;
}
@media (max-width: 992px) {
  .sauna-container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 5.5rem;
  }
}
.sauna-container__left {
  text-align: left;
  display: flex;
  flex-direction: column;
  color: hsl(48, 3%, 72%);
}
@media (max-width: 992px) {
  .sauna-container__left {
    align-items: center;
    text-align: center;
  }
}
.sauna-container__left h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  color: hsl(37, 48%, 64%);
}
@media (max-width: 768px) {
  .sauna-container__left h2 {
    font-size: 2.5rem;
  }
}
.sauna-container__left p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  text-align: justify;
}
.sauna-container__right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sauna-container__right img {
  width: 700px;
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  filter: drop-shadow(0px 0px 5px #555);
  width: 2rem;
  height: 2rem;
  color: white;
}
.arrow-left {
  left: 1rem;
}
.arrow-right {
  right: 1rem;
}

.arrow:hover {
  cursor: pointer;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: hsl(37, 48%, 64%);
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  margin: 0 0.2rem;
  cursor: pointer;
}
.indicator-inactive {
  background-color: hsl(28, 11%, 23%);
}

.bazen-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 3rem;
  align-items: center;
}
@media (max-width: 992px) {
  .bazen-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5.5rem;
  }
}
.bazen-container__right {
  text-align: left;
  display: flex;
  flex-direction: column;
  color: hsl(48, 3%, 72%);
}
@media (max-width: 992px) {
  .bazen-container__right {
    align-items: center;
    text-align: center;
  }
}
.bazen-container__right h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  color: hsl(37, 48%, 64%);
}
@media (max-width: 768px) {
  .bazen-container__right h2 {
    font-size: 2.5rem;
  }
}
.bazen-container__right p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  text-align: justify;
}
.bazen-container__right img {
  width: 700px;
}
.bazen-container__left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  filter: drop-shadow(0px 0px 5px #555);
  width: 2rem;
  height: 2rem;
  color: white;
}
.arrow-left {
  left: 1rem;
}
.arrow-right {
  right: 1rem;
}

.arrow:hover {
  cursor: pointer;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: hsl(37, 48%, 64%);
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  margin: 0 0.2rem;
  cursor: pointer;
}
.indicator-inactive {
  background-color: hsl(28, 11%, 23%);
}

.teretana-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 3rem;
  align-items: center;
}
@media (max-width: 992px) {
  .teretana-container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 5.5rem;
  }
}
.teretana-container__left {
  text-align: left;
  display: flex;
  flex-direction: column;
  color: hsl(48, 3%, 72%);
}
@media (max-width: 992px) {
  .teretana-container__left {
    align-items: center;
    text-align: center;
  }
}
.teretana-container__left h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  color: hsl(37, 48%, 64%);
}
@media (max-width: 768px) {
  .teretana-container__left h2 {
    font-size: 2.5rem;
  }
}
.teretana-container__left p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  text-align: justify;
}
.teretana-container__right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teretana-container__right img {
  width: 120rem;
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  filter: drop-shadow(0px 0px 5px #555);
  width: 2rem;
  height: 2rem;
  color: white;
}
.arrow-left {
  left: 1rem;
}
.arrow-right {
  right: 1rem;
}

.arrow:hover {
  cursor: pointer;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: hsl(37, 48%, 64%);
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  margin: 0 0.2rem;
  cursor: pointer;
}
.indicator-inactive {
  background-color: hsl(28, 11%, 23%);
}

.masaza-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 3rem;
  align-items: center;
}
@media (max-width: 992px) {
  .masaza-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5.5rem;
  }
}
.masaza-container__right {
  text-align: left;
  display: flex;
  flex-direction: column;
  color: hsl(48, 3%, 72%);
}
@media (max-width: 992px) {
  .masaza-container__right {
    align-items: center;
    text-align: center;
  }
}
.masaza-container__right h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  color: hsl(37, 48%, 64%);
}
@media (max-width: 768px) {
  .masaza-container__right h2 {
    font-size: 2.5rem;
  }
}
.masaza-container__right p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  text-align: justify;
}
.masaza-container__right img {
  width: 700px;
}
.masaza-container__left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-banner {
  display: flex;
  width: 100%;
  height: 20rem;
  background-image: url("/src/image/Hero/apartments-bg.png");
  position: relative;
  margin-top: 7rem;
}
@media (max-width: 768px) {
  .book-banner {
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem 0;
  }
}
.book-banner__overlay {
  background-color: #2d2d2d;
  opacity: 0.89;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.text-content {
  color: white;
  z-index: 5;
  position: relative;
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}
@media (max-width: 768px) {
  .text-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }
}
.text-content h2 {
  font-size: 2.5rem;
}
@media (max-width: 768px) {
  .text-content h2 {
    font-size: 1.5rem;
  }
}
.text-content span {
  display: flex;
  font-size: 2.5rem;
  gap: 1rem;
  align-items: center;
  color: hsl(37, 48%, 64%);
  white-space: nowrap;
}
@media (max-width: 768px) {
  .text-content span {
    font-size: 1.5rem;
  }
}

/*Base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

body {
  background-color: hsl(28, 11%, 23%);
  color: hsl(48, 3%, 72%);
}

h1,
h2,
h3 {
  color: hsl(180, 4%, 98%);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 1px solid hsl(37, 48%, 64%);
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Firefox */
/*css classes*/
.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: 2.5rem;
  color: hsl(180, 4%, 98%);
}

.section__subtitle {
  display: block;
  font-size: 1.25rem;
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*Layout*/
.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*Buttons*/
.button {
  display: inline-block;
  background-color: hsl(37, 48%, 64%);
  color: hsl(28, 11%, 23%);
  padding: 1.25rem 3rem;
  font-weight: 500;
  margin-right: 1rem;
  text-align: center;
}

.button:hover {
  background-color: hsl(28, 11%, 23%);
  color: hsl(37, 48%, 64%);
  border: 1px solid hsl(37, 48%, 64%);
}

.button__icon {
  margin-left: 0.2rem;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .button {
    padding: 1rem 1.75rem;
  }
  .section {
    padding: 5rem 0 4rem;
  }
}
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 4.5rem 0;
  }
  .section__subtitle {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 350px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}/*# sourceMappingURL=App.css.map */